API_ID=your_telegram_api_id
API_HASH=your_telegram_api_hash
CLIENT_NAME=MajaderaBot
CSRFTOKEN=your_csrf_token
FVIDEO_ID=your_fvideo_id
FVIDEO_TOKEN=your_fvideo_token
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36
X_TRACE_ID=your_trace_id
X_UI_REQUEST_TRACE=your_ui_request_trace
LANG=es-419
REFERER=https://www.binance.com/es/my/wallet/account/payment/cryptobox